{% extends 'header.html' %}
{% load static  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
   <script src="https://js.stripe.com/v3/"></script> 
  </head>

  <body>
  

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Cart</h2>
              <p>Very us move be blessed multiply night</p>
            </div>
            <div class="page_link">
              <a href="/">Home</a>
              <a href="#">Cart</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Cart Area =================-->
    <section class="cart_area">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                {% for i in carts %}
                <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img
                          src="{{i.product.product_image.url}}" style="width: 50px;height: 50px;border-radius: 50%;"
                          alt=""
                        />
                      </div>
                      <div class="media-body">
                        <p>{{i.product.product_name}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>{{i.product.product_price}}</h5>
                  </td>
                  <td>
                    <div class="product_count">
                     <form name="change_qty" method="post" action="{% url 'change-qty' %}">
                      {% csrf_token %}
                      <input type="hidden" name="cid" value="{{i.pk}}">
                      <input type="number" name="product_qty" value="{{i.product_qty}}" min="1" max="10" onchange="this.form.submit();">
                     </form>
                    </div>
                  </td>
                  <td>
                    <h5>{{i.total_price}}</h5>
                  </td>
                </tr>
                {% endfor %}
               
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <h5>Subtotal</h5>
                  </td>
                  <td>
                    <h5>{{net_price}}</h5>
                  </td>
                </tr>
               
                <tr class="out_button_area">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="checkout_btn_inner">
                      <form method="post">
                        {% csrf_token %}
                        <input type="hidden" id="net_price" name="amount" value="{{net_price}}">
                        <button class="main_btn" type="button" id="checkout-button">Proceed Checkout</button>
                      </form>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!--================End Cart Area =================-->
<script type="text/javascript">

var stripe = Stripe('pk_test_51SfdzC0cnW3BpByzi66hhCLL3jlwU7VM9St7ot2eq0QAjCOSB0DE7i7iSm2ctQhPfPLumJVhNw8NdPD5IFUgcWSU00SuVT1MUF');
var checkoutButton = document.getElementById('checkout-button');

checkoutButton.addEventListener('click', function() { 
 fetch('/create-checkout-session/', {
 method: 'POST',
    headers:{
        'Accept': 'application/json',
        'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()

    },
    body: JSON.stringify({'post_data':'{{net_price}}'})
 })
 .then(function(response) {
 return response.json();
 })
 .then(function(session) {
 return stripe.redirectToCheckout({ sessionId: session.id });
 })
 .then(function(result) {
 // If `redirectToCheckout` fails due to a browser or network
 // error, you should display the localized error message to your
 // customer using `error.message`.
 if (result.error) {
 alert(result.error.message);
 }
 })
 .catch(function(error) {
 console.error('Error:', error);
 });
 });
</script>
</body>
</html>
{% endblock %}