{% extends 'header.html' %}
{% load static  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>

  <body>
    

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>User Login</h2>
            
            </div>
            <div class="page_link">
              <a href="/">Home</a>
              <a href="#">login</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!-- ================ contact section start ================= -->
  <section class="section_gap">
    <div class="container">
     <div class="row">
        <div class="col-12">
          <h2 class="contact-title">User Login</h2>
        </div>
        <div class="col-lg-8 mb-4 mb-lg-0">
          {% if msg %}
          <b style="color: blue;">{{msg}}</b>
          {% endif %}
          <form class="form-contact contact_form" action="{% url 'login' %}" method="post" id="contactForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
               
              <div class="col-sm-12">
                <div class="form-group">
                  <input class="form-control" name="email" id="email" type="email" placeholder="Enter email address">
                </div>
              </div>
              
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="password" id="subject" type="password" placeholder="Enter password">
                </div>
              </div>
              
            </div>
            <div class="form-group mt-lg-3">
              <button type="submit" class="main_btn">Login</button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'forgot-password' %}">Forgot Password</a>
            </div>
          </form>


        </div>

    </div>
  </section>
	<!-- ================ contact section end ================= -->
</body>
</html>
{% endblock %}