{% extends 'header.html' %}
{% load static  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>

  <body>
 
    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Product Details</h2>
            </div>
            <div class="page_link">
              <a href="/">Home</a>
              <a href="">Product Details</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Single Product Area =================-->
    <div class="product_image_area">
      <div class="container">
        <div class="row s_product_inner">
          <div class="col-lg-6">
            <div class="s_product_img">
              <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-ride="carousel"
              >
        
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      class="d-block w-100"
                      src="{{product.product_image.url}}"
                      alt="First slide"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <div class="s_product_text">
              <h3>{{product.product_name}}</h3>
              <h2>{{product.product_price}}</h2>
              <ul class="list">
                <li>
                  <a class="active" href="#">
                    <span>Category</span> :{{product.product_category}}</a
                  >
                </li>
               
              </ul>
              <p>
              {{product.product_desc}}
              </p>
              <div class="card_area">
                {% if request.session.email %}
                {% if cart_flag == False %}
                    <a class="main_btn" href="{% url 'add-to-cart' pk=product.pk %}">Add To Cart</a>
                {% else %}
                    <a class="main_btn" href="{% url 'remove-from-cart' pk=product.pk %}">Remove From Cart</a>
                {% endif %}
                {% if wishlist_flag == False %}
                    <a class="main_btn" href="{% url 'add-to-wishlist' pk=product.pk %}">Add To Wishlist</a>
                {% else %}
                    <a class="main_btn" href="{% url 'remove-from-wishlist' pk=product.pk %}">Remove From Wishlist</a>
                {% endif %}
                {% else %}
                <a class="main_btn" href="{% url 'login' %}">Login</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================End Single Product Area =================-->

 
  </body>
</html>
{% endblock %}